.header {
    display: flex;
    background-color: whitesmoke;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    height: 25px;
    width: auto;
}

.rylan {
    color: purple;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right {
    margin-left: auto;
}

button {
    background-color: purple;
}

button a {
    color: black;
    font-size: 15px;
}


a.left,.right:link {
    text-decoration: none;
    color: purple;
}

a.left:hover {
    color: black;
    background-color: blueviolet;
    font-size: larger;
}

a.right:hover {
    font-size: 19px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}