.header {
    display: flex;
    background-color: whitesmoke;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.rylan {
    color: purple;
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.right {
    margin-left: auto;
}

button {
    background-color: purple;
}

button a {
    color: black;
    font-size: larger;
}

ul a {
    color: purple;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}