.container {
    display: flex;
}

.container div {
    background-color: pink;
    height: 100px;
    width: 250px;
    flex: 1 1 auto;
    border: 10px brown;
}

img {
    height: 20;
    width: 20;
}